* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.carousel .indicators {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  bottom: 1rem;
  z-index: 4;
  text-align: center;
  opacity: 0.5;
}
.carousel .indicators > span {
  display: inline-block;
  background-color: black;
  border-radius: 50%;

  border: 4px solid white;
  width: 2rem;
  height: 2rem;
}

.carousel .indicators > span.active {
  background-color: white;
  border: 4px solid black;
}
.carousel > .slides > * {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 1s;
  z-index: 0;
  width: 100%;
}

.carousel .slides > *.active {
  position: relative;
  opacity: 1;
  z-index: 2;
}

.carousel .slides > *.in {
  z-index: 1;
  opacity: 1;
}

.carousel .slides > *.out {
  opacity: 1;
  z-index: 2;
}

.carousel .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-size: 1rem;
  font-weight: 900;
  background-color: black;
  border-radius: 50%;
  top: calc(50% - 1.5rem);
  border: 4px solid white;
  width: 3rem;
  height: 3rem;

  z-index: 2;
  opacity: 0;
  transition: opacity 1s;
}

.carousel:hover .arrow {
  opacity: 1;
}
.carousel .arrow.left {
  left: 1rem;
}
.carousel .arrow.right {
  right: 1rem;
}
